{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>JJ Cabling Network</p>

<p></p>
<p></p>
<p> Emresa especializada em Cabeamento Estruturado, onde seu objetivo é melhorar a infraestrutura do país.</p>
<p></p>
<p></p>
<p></p>

<p></p>
<p>Objetivo:</p>
<p>Oferece treinamento para redes ópticas e metálicas, instalção de cabeamento e certificação metálica e óptica.</p>
<p>Criada em 2018 por dois profissionais especializados em Infraestrutura, que analizaram o mercado de trabalho atual na
área de infraestrutura onde levataram as maiores dificuldades dos profissionais atuais, então desevolveram cursos que ajudam
a sanar os problemas atuais da rede no país.</p>

{% endblock %}
