{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa de Cabeamento Estruturado, especializada em Fibra Óptica e Certificação <br />
    Rua do Código, 1010<br />
    <abbr title="Objetivos">Objetivos:</abbr>
    A empresa tem por objetivo melhorar a Infraestrutura no Brasil, dando suporte a operadoras com treinamento técnico.
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
